@model List<PropertyListModel>
@{
    ViewData["Title"] = "Your Properties";
}

<br />
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<br />

<table>
    <tr>
        <th>Salary Type</th>
        <th>Property Type</th>
        <th>Price</th>
        <th>Header</th>
        <th>Renewal Date</th>
        <th>Aksiyon</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SalaryType</td>
            <td>@item.PropertyType</td>
            <td>@item.Price</td>
            <td>@item.Header</td>
            <td>@item.DateOfRenewal.ToLongDateString()</td>
            <td>
                <div class="btn-group">
                    <form method="get" asp-action="Update" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    <form method="post" asp-action="Delete" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger" style="margin-left: 10px;">Remove</button>
                    </form>
                </div>
            </td>
        </tr>
    }
</table>
<br />




